.link{
    text-decoration: none;
}

.button{
    display: block;
    width: 60%;
    height: 10%;
    margin: 12.5% auto; 
    border: 0;
    background-color: white;
    color: #233c96;
    font-size: 24px;
    border-radius: 20px;
}